<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Indice
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-button (click)="abrirHome()" expand="full">Home</ion-button>
  <ion-button (click)="abrirList()" expand="full">List</ion-button>
  <ion-button (click)="abrirContato()" expand="full">Contato</ion-button>
  <ion-button (click)="abrirSobre()" expand="full">Sobre</ion-button>
  <ion-button (click)="abrirAjuda()" expand="full">Ajuda</ion-button>
</ion-content>
