<ion-header>
  <ion-toolbar>
    <ion-title>
      E-Commerce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding fundo">
    
      <img src="assets/imgs/note1.jpg">
      <p class="centro">Notebook Samsung Preto</p>
      <p class="centro2">R$ 1500,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note2.jpg">
      <p class="centro">Notebook Samsung Branco</p>
      <p class="centro2">R$ 1900,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note3.jpg">
      <p class="centro">Notebook Samsung Rosa</p>
      <p class="centro2">R$ 1750,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note4.jpg">
      <p class="centro">Notebook Samsung Dobravel</p>
      <p class="centro2">R$ 2000,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note5.jpg">
      <p class="centro">Notebook Samsung Preto/Cinza</p>
      <p class="centro2">R$ 2050,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note6.jpg">
      <p class="centro">Notebook Samsung Preto</p>
      <p class="centro2">R$ 1800,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note7.jpg">
      <p class="centro">Notebook Samsung Cinza</p>
      <p class="centro2">R$ 1900,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>

      <br/><br/>

      <img src="assets/imgs/note8.jpg">
      <p class="centro">Notebook Samsung Cinza Escuro</p>
      <p class="centro2">R$ 1750,00</p>
      <button type="button" class="btn btn-success button1 button3 centrobotao">Comprar</button>
  </div>
</ion-content>
