
.button1 {
    background-color: #4CAF50;
}

.button3 {
    padding: 14px 40px;
}

.centro{
    margin-left: 40px;
}

.centro2{
    margin-left: 90px;
}

.centrobotao{
    margin-left: 65px;
}
.fundo{
    background-color:darkkhaki;
}